
/* @font-face {
  font-family: 'Ancient-Modern-Tales';
  src: url('assets/fonts/AncientModernTales-a7Po.ttf');
} */

* {   
  box-sizing: border-box;
}

body {
  font-family: 'Ancient-Modern-Tales';
  font-size: 1.5em;
  color: white;
  background-color: rgb(33, 33, 33);
  margin: 20px;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  min-height: 100vh;
}


.game-wrapper {
  margin: 20px;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 480px;
  width: 480px;
}

.game-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgb(169, 164, 164);
  height: 30px;
  width: 30px;
}

.player {
  background-color: mediumpurple;
}

.enemy-row-1 {
  background-color: lawngreen;
}

.enemy-row-2 {
  background-color: rgb(235, 33, 205);
}
.enemy-row-3 {
  background-color: rgb(0, 252, 185);
}
.enemy-row-4 {
  background-color: rgb(26, 84, 134);
}
.enemy-row-5 {
  background-color: rgb(240, 44, 44);
}

button {
  margin: 5px 30px;
  font-family: 'Ancient-Modern-Tales';
  padding: 10px;
  font-size: 1.2em;
  
  
}

#start-button {
  animation: blink 2s linear infinite;

}
/* 
@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
} */