/* @font-face {
  font-family: 'Ancient-Modern-Tales';
  src: url('assets/fonts/AncientModernTales-a7Po.ttf');
} */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ancient-Modern-Tales';
  font-size: 1.5em;
  color: white;
  background-color: rgb(74, 73, 73, 43);
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.game-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  padding: 10px;
  border: 2px dashed rgb(145, 145, 145);
  /* background-image: url('../assets/sprites/space2_4-frames.gif'); */
  background-repeat: repeat;
 
  /* opacity: 0.5; */
  
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vh;
}

.game-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgb(169, 164, 164);
  height: 3.75vh;
  width: 3.75vh;
}

.game-over {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 480px;
  width: 480px;
  background-color: aquamarine;
}

.player {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/player.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.enemy {
  background-color: lawngreen;
}

/* .enemy  {
  background-color: rgb(235, 33, 205);
} */
/* .enemy {
  background-color: rgb(0, 252, 185);
}
.enemy {
  background-color: rgb(26, 84, 134);
}
.enemy {
  background-color: rgb(0, 208, 255);
} */
.laser {
  
    
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/Plasma_Large_png_processed.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.ghost-appears {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/ghost-appears.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.ghost-idle {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/ghost-idle.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.ghost-shriek {
  height: 100%;
  width: 100%;
  content: url('../assets/sprites/ghost-shriek-cropped.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.ghost-vanish {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/ghost-vanish.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.explosion {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/explosion-2.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

button:hover {
  cursor: pointer;
}
button {
  margin: 5px 30px;
  font-family: 'Ancient-Modern-Tales';
  padding: 10px;
  font-size: 1.2em;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  


}

#start-button {
  animation: blink 2s linear infinite;

}


@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}