* {
  box-sizing: border-box;
}

@font-face {
  font-family: c64;
  src: url(assets/fonts/C64.ttf);
}

body {
  font-family: c64;
  font-size: 1.5em;
  color: white;
  background-color: black;
  padding: 50px;
  margin: 0;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}


.game-wrapper {
  margin: 20px;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 600;
  width: 600px;
}

.game-grid div {
  border: 1px dotted rgb(169, 164, 164);
  height: 40px;
  width: 40px;
}


.player {
  background-color: mediumpurple;
}

.enemy {
  background-color: lawngreen;
}

/* .press-enter-start {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */