@font-face {
  font-family: 'Ancient-Modern-Tales';
  src: url('../assets/fonts/AncientModernTales-a7Po.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ancient-Modern-Tales';
  font-size: 1.5em;
  color: white;
  background-image: url('/assets/backgrounds/Space_Stars2.png');
  background-color: black;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
    
}

h1 {
  font-size: 2.5em;
}
.wrapper {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.game-wrapper {
  visibility: hidden; 
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  padding: 5px;
  background-color: rgba(254, 254, 254, 0.214);
  background-repeat: repeat;
  
}

.game-grid {
  background-image: url('/assets/backgrounds/b9e3da6363497.560b11e9a84d8 (1).png');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vh;
}

.game-grid div {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 3.75vh;
  width: 3.75vh;
}

.game-over {
  visibility: hidden;
  text-align: center;
  margin: 5px 5px;
  position: fixed;
  font-size: 2em;
}

.player {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/player.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.enemy {
  background-color: lawngreen;
}

.laser {    
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/Plasma_Large_png_processed.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.ghost-appears {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/ghost-appears.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.ghost-idle {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/ghost-idle.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.ghost-shriek {
  height: 100%;
  width: 100%;
  content: url('../assets/sprites/ghost-shriek-adjusted.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.ghost-vanish {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/ghost-vanish.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.explosion {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/explosion-2.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.explosion-no-loop {
  height: 40px;
  width: 40px;
  background-image: url('../assets/sprites/explosion-no-loop.gif');
  background-repeat: no-repeat;
  background-size: contain;
}


#start-button, #reset-button:hover {
  cursor: pointer;
}

#start-button {
  text-align: center;
  margin: 5px 5px;
  position: fixed;
  font-size: 2.5em;
  color: rgb(249, 47, 47);  
  animation: blink 2s linear infinite;
}

#reset-button {
  visibility: hidden;
  color: red;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 50;
  }
}